a{
    color: black;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.ggg{
    padding-top: 0px;
}
@media(max-width:1000px){
 .ggg{
     border:3px white;
 }
}

.heightooo{ font-size: 100px;
}

.uuu{
    height:700px;
}

.prelive{
    position: relative;
}
.absolute{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: bisque;
    background-color:rgb(219, 215, 215);
    opacity: 0.0;
    transition: 0.4s;
}
.absolute:hover{
    transition: 0.4s;
    opacity: 0.5;
    color: black;
    opacity:0.9;
    
}

.prelive{
    position: relative;
}
.arrows{
    position: absolute;
    z-index: 1;
    top: 45%;
}